#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")

#@ prefix = data.values.prefix or ""

#@ def selector_labels():
app: #@ prefix + data.values.app_name
#@ end 

apiVersion: v1
kind: Service
metadata:
  name: spring-petclinic-svc
  labels: 
     obj_label: svc
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector: #@ selector_labels()
  #@ if data.values.svc_external_ip:
  type: LoadBalancer
  #@ else:
  type: ClusterIP
  #@ end
